<ion-content class="ion-padding">
  <div class="text-center">
    <h5 class="bg-white p-2 rounded">
      <img src="../../assets/descarga.png" class="w-75 rounded">
    </h5>

    <br> 
    <h4 class="mb-3 text-white"><b>Iniciar Sesión</b></h4>
  </div>

  <ion-item color="light">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input required type="text" name="nick" [(ngModel)]="nick"></ion-input>
  </ion-item>

  <br>

  <ion-item color="light">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input required type="password" name="clave" [(ngModel)]="clave"></ion-input>
  </ion-item>

  <br>

  <ion-button  expand="block" (click)="ingresar()">Ingresar</ion-button>

  <br>

</ion-content>