<ion-content class="ion-padding">
  <div class="p-2 rounded border border-white text-white">
    <h4 class="border-bottom pb-2">
      <b>{{clase.nombreclase}}</b>
    </h4>
    <small><b>Fecha: </b>{{clase.created_at}}</small> <br>
    <small><b>Curso: </b>{{curso.nombrecurso}}</small>
  </div>
  <br>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="secondary" (click)="getProgramas()">
        <ion-label>Preguntas tipo programas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button fill="outline" size="default" expand="block" (click)="openModal()">
          Agregar programa
        </ion-button>

        <div class="pt-0 pb-0">
          <ion-list>
            <ion-item *ngFor="let x of programas; let i = index" color="light" expand="block"
              (click)="setOpen(true, x.idclase, x.titulo, x.idprograma, x.created_at)">
              <ion-label>{{i+1}}. {{x.titulo}}</ion-label>
            </ion-item>
          </ion-list>

          <div class="text-center">
            <ion-chip [disabled]="true" *ngIf="!programas" expand="block">
              No hay resgistros!!
            </ion-chip>
          </div>
        </div>

      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="secondary" (click)="getQuizzList()">
        <ion-label>Quizz</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button fill="outline" size="default" color="secondary" (click)="openModalAddQuizz()" expand="block">
          Agregar Quizz
        </ion-button>

        <div class="pt-0 pb-0">
          <ion-list>
            <ion-item *ngFor="let x of quizzList; let i = index" color="light" expand="block"
              (click)="setOpenModalQuizzDetalle(x.idquizz)">
              <ion-label>{{i+1}}. {{x.titulo}}</ion-label>
            </ion-item>
          </ion-list>

          <div class="text-center">
            <ion-chip [disabled]="true" *ngIf="!quizzList" expand="block">
              No hay resgistros!!
            </ion-chip>
          </div>

        </div>

      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="secondary" (click)="getListPuzzle()">
        <ion-label>Puzzle</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button fill="outline" size="default" color="secondary" (click)="openModalAddPuzzle()" expand="block">
          Agregar Puzzle
        </ion-button>

        <div class="pt-0 pb-0">
          <ion-list>
            <ion-item *ngFor="let x of puzzleList; let i = index" color="light" expand="block"
              (click)="setOpenModalPuzzleDetalle(x.idpuzzle)">
              <ion-label>{{i+1}}. {{x.titulo}}</ion-label>
            </ion-item>
          </ion-list>

          <div class="text-center">
            <ion-chip [disabled]="true" *ngIf="!puzzleList" expand="block">
              No hay resgistros!!
            </ion-chip>
          </div>

        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title slot="start">Detalle pregunta</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false, null, null, null, null)">
              <label style="color: red">Cerrar</label>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="p-2 rounded border border-info text-secondary">
          <h5 class=" pt-2">
            <b>{{programaDetalleOne.titulo}}</b>
          </h5>
        </div>

        <div *ngFor="let x of codigosDetalle; let i = index" class="border-bottom  mt-4 ">
          <p class="mb-0">Respuesta {{i+1}} </p>
          <div style="height: 100px; background-color: black;">
            <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="x.fragmentocodigo">
            </ngx-monaco-editor>
          </div>
          <div class="text-end">
            <small *ngIf="x.respuestacorrecta == true" class="text-success">Es correcta</small>
            <small *ngIf="x.respuestacorrecta == false" class="text-danger">Es incorrecta</small>
          </div>
        </div>
        <br> <br>

        <ion-button color="danger" expand="block" (click)="eliminarPreguntaProgramaCodigos()">
          Eliminar Programa
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

  <app-spinner *ngIf="spinner"></app-spinner>
</ion-content>